Repository TeamNovaSoft/discord-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,ts}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,ts,md}": ["prettier --write"]
}

fix: retore in change status emojisregexp
  src/commands/utility/changeStatus.js
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: register global error handlers
  src/index.js
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: handle critical error
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: logic function handle critical error
  src/index.js
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: restore pr template modal handler
  src/events/interactionCreate.js
Due: prettier --write, eslint --fix, eslint

fix: throw error after interactionCreate fails
  src/events/interactionCreate.js
Due: prettier --write, eslint --fix, eslint

fix: errors
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: timezone
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: slice report message
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

feat: adding new rules and plugins to eslint
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

feat: add jest testing
  eslint.config.cjs
  jest.config.json
  package.json
  src/commands/utility/tests/__snapshots__/ping.test.js.snap
  src/commands/utility/tests/ping.test.js
  yarn.lock
Due: prettier --write, eslint --fix, eslint

feat: send embed message when error stack is longer than defined limits
  src/languages/translations/en.json
  src/languages/translations/es.json
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: adding order prettier rules
  .prettierrc
Due: none

fix: adding sort imports
  .prettierrc
Due: none

fix: sustract minutes to the start date event
  src/cron/schedule-google-calendar.js
Due: prettier --write, eslint --fix, eslint

fix: set minutes instead time
  src/cron/schedule-google-calendar.js
Due: prettier --write, eslint --fix, eslint

feat: adding new translations to discord commands
  src/commands/utility/assignMeTaskThread.js
  src/commands/utility/changeStatus.js
  src/commands/utility/convert-time.js
  src/commands/utility/my-points.js
  src/commands/utility/ping.js
  src/commands/utility/pr-template.js
  src/commands/utility/remindme.js
  src/commands/utility/requestPoint.js
  src/commands/utility/search-code-review.js
  src/commands/utility/search-my-points.js
  src/commands/utility/send-message.js
  src/commands/utility/server.js
  src/commands/utility/user.js
  src/commands/utility/vote-points.js
  src/languages/index.js
Due: prettier --write, eslint --fix, eslint

fix: add run test to ci
  .github/workflows/ci.yml
Due: none

fix: rename cron status in config
  src/config.js
  src/cron/schedule-code-review.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

feat: change language import
  src/commands/utility/assignMeTaskThread.js
  src/commands/utility/changeStatus.js
  src/commands/utility/convert-time.js
  src/commands/utility/my-points.js
  src/commands/utility/pr-template.js
  src/commands/utility/remindme.js
  src/commands/utility/requestPoint.js
  src/commands/utility/search-code-review.js
  src/commands/utility/search-my-points.js
  src/commands/utility/send-message.js
  src/commands/utility/server.js
  src/commands/utility/user.js
  src/commands/utility/vote-points.js
  src/cron/schedule-code-review.js
  src/cron/schedule-event-reminder.js
  src/cron/schedule-google-calendar.js
  src/cron/schedule-messages.js
  src/events/guildScheduledEventCreate.js
  src/handlers/modal-submit.js
  src/modals/pr-template-modal.js
  src/modals/send-message-modal.js
  src/utils/githubIssue.js
  src/utils/remindme-functions.js
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

feat: adding new rules
  src/cron/schedule-code-review.js
  src/cron/schedule-google-calendar.js
Due: prettier --write, eslint --fix, eslint

fix: file type
  eslint.config.js
Due: none

fix: lines per function
  eslint.config.js
Due: none

refactor: change languages per default
  .env.example
  src/languages/index.js
  src/languages/translations/en-US.json
  src/languages/translations/es-ES.json
Due: prettier --write, eslint --fix, eslint

fix: documentation
  docs/creating-commands.md
Due: prettier --write

refactor: update commands
  src/languages/index.js
Due: prettier --write, eslint --fix, eslint

refactor: move jobs to other setup file
  src/cron/schedule-event-reminder.js
  src/cron/schedule-google-calendar.js
  src/index.js
  src/reminder-scheduler.js
Due: prettier --write, eslint --fix, eslint

feat: adding missing import/no-cycle
  eslint.config.js
Due: none

fix: rules
  eslint.config.js
Due: none

refactor: split in functions command execute handler
  src/commands/utility/changeStatus.js
Due: prettier --write, eslint --fix, eslint

fix: update test
  src/commands/utility/tests/__snapshots__/ping.test.js.snap
  src/commands/utility/tests/ping.test.js
Due: prettier --write, eslint --fix, eslint

chore: change file and function name
  src/index.js
  src/schedule-jobs.js
Due: prettier --write, eslint --fix, eslint

refactor: split interactionCreate function in small functions
  src/events/interactionCreate.js
Due: prettier --write, eslint --fix, eslint

refactor: split mmy-points command in small functions
  src/commands/utility/my-points.js
Due: prettier --write, eslint --fix, eslint

feat: clean up languages
  src/commands/utility/assignMeTaskThread.js
  src/commands/utility/changeStatus.js
  src/commands/utility/convert-time.js
  src/commands/utility/my-points.js
  src/commands/utility/ping.js
  src/commands/utility/pr-template.js
  src/commands/utility/remindme.js
  src/commands/utility/requestPoint.js
  src/commands/utility/search-code-review.js
  src/commands/utility/search-my-points.js
  src/commands/utility/send-message.js
  src/commands/utility/server.js
  src/commands/utility/tests/ping.test.js
  src/commands/utility/user.js
  src/commands/utility/vote-points.js
  src/languages/index.js
Due: prettier --write, eslint --fix, eslint

feat: incorrect date range in my points query
  src/commands/utility/search-my-points.js
Due: prettier --write, eslint --fix, eslint

refactor: split check-review command in functions
  src/commands/utility/search-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: restore status key for 'check-review' command
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: star and date end
  src/commands/utility/my-points.js
  src/commands/utility/search-my-points.js
Due: prettier --write, eslint --fix, eslint
