Repository TeamNovaSoft/discord-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

fix: env example
  .env.example
Due: none

fix: env example v2
  .env.example
Due: none

fix: error
  src/utils/remindme-functions.js
Due: prettier --write, eslint --fix, eslint

fix: multiple reminders
  src/commands/utility/remindme.js
  src/languages/translations/en.json
  src/languages/translations/es.json
  src/utils/remindme-functions.js
Due: prettier --write, eslint --fix, eslint

feat: centralized error reporting for commands and cron jobs
  src/commands/utility/assignMeTaskThread.js
  src/commands/utility/changeStatus.js
  src/commands/utility/convert-time.js
  src/commands/utility/my-points.js
  src/commands/utility/requestPoint.js
  src/commands/utility/search-code-review.js
  src/commands/utility/search-my-points.js
  src/commands/utility/send-message.js
  src/cron/schedule-code-review.js
  src/cron/schedule-event-reminder.js
  src/cron/schedule-gemini.js
  src/languages/translations/en.json
  src/languages/translations/es.json
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: delete comments
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: add channel id env in example
  .env.example
Due: none

feat: integrate aws to the project
  .github/workflows/deploy.yml
Due: none

fix: test user of aws
  .github/workflows/deploy.yml
Due: none

fix: test aws deploy
  .github/workflows/deploy.yml
Due: none

fix: update branch
  .github/workflows/deploy.yml
Due: none

fix: update route off repo
  .github/workflows/deploy.yml
Due: none

fix: delete comment
  src/commands/utility/assignMeTaskThread.js
Due: prettier --write, eslint --fix, eslint

feat: config pm2
  .github/workflows/deploy.yml
  ecosystem.config.js
Due: none

fix: config pm2
  .github/workflows/deploy.yml
Due: none

feat: update deploy file to suport pull request
  .github/workflows/deploy.yml
Due: none

fix: ecosystem file
  ecosystem.config.js
Due: none

feat: delete actions/checkout@v3 step
  .github/workflows/deploy.yml
Due: none

feat: adding secret AWS_WORK_DIRECTORY
  .github/workflows/deploy.yml
Due: none

feat: adding paths files
  .github/workflows/deploy.yml
Due: none

fix: file
  .github/workflows/deploy.yml
Due: none

feat: testing workflow deploy
  package.json
Due: none

feat: schedule reminder for next day if time has already passed
  src/commands/utility/remindme.js
  src/utils/remindme-functions.js
Due: prettier --write, eslint --fix, eslint

feat: adding setup of aws keys
  docs/aws_setup.md
Due: prettier --write

fix: delete function convertToMs
  src/config.js
  src/cron/schedule-code-review.js
  src/cron/utils/convertMsToCron.js
Due: prettier --write, eslint --fix, eslint

feat: update documentation
  docs/aws_setup.md
Due: prettier --write

refactor: change note
  docs/aws_setup.md
Due: prettier --write

fix: adds global error handling
  src/commands/utility/assignMeTaskThread.js
  src/commands/utility/changeStatus.js
  src/commands/utility/convert-time.js
  src/commands/utility/my-points.js
  src/commands/utility/requestPoint.js
  src/commands/utility/search-code-review.js
  src/commands/utility/search-my-points.js
  src/commands/utility/send-message.js
  src/cron/schedule-event-reminder.js
  src/cron/schedule-gemini.js
  src/index.js
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: schedule-code-review
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: add translation
  src/events/interactionCreate.js
  src/languages/translations/en.json
  src/languages/translations/es.json
  src/utils/remindme-functions.js
Due: prettier --write, eslint --fix, eslint

fix: send error in crons
  src/cron/schedule-code-review.js
  src/cron/schedule-event-reminder.js
  src/cron/schedule-gemini.js
Due: prettier --write, eslint --fix, eslint

fix: send error
  src/cron/schedule-code-review.js
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: logic and functionality
  src/commands/utility/assignMeTaskThread.js
  src/commands/utility/changeStatus.js
  src/commands/utility/convert-time.js
  src/commands/utility/my-points.js
  src/commands/utility/requestPoint.js
  src/commands/utility/search-code-review.js
  src/commands/utility/search-my-points.js
  src/commands/utility/send-message.js
  src/cron/schedule-code-review.js
  src/cron/schedule-event-reminder.js
  src/cron/schedule-gemini.js
  src/languages/translations/en.json
  src/languages/translations/es.json
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: add link to report bugs on github from package.json
  package.json
  src/languages/translations/en.json
  src/languages/translations/es.json
  src/utils/githubIssue.js
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: githubissue and format package
  package.json
  src/utils/githubIssue.js
Due: prettier --write, eslint --fix, eslint

fix: message error in client
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: add message to client
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

fix: console error
  src/utils/send-error.js
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: */**/*.{js,ts}) or (any of: */**/*.{json,ts,md})
  eslint --fix: any of: */**/*.{js,ts}
  eslint: any of: */**/*.{js,ts}
