Repository TeamNovaSoft/discord-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

refactor: adding tranlation to modals
  src/languages/translations/en.json
  src/languages/translations/es.json
  src/modals/pr-template-modal.js
  src/modals/send-message-modal.js
Due: prettier --write, eslint --fix, eslint

fix: add defer reply to slow handlers
  src/commands/utility/changeStatus.js
  src/handlers/modal-submit.js
Due: prettier --write, eslint --fix, eslint

refactor: tranlstions to cronjobs
  src/cron/schedule-google-calendar.js
  src/cron/schedule-messages.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

feat: add uncaughtException listener to avoid client shut down
  .gitignore
  src/index.js
  src/utils/log-error.js
Due: prettier --write, eslint --fix, eslint

fix: add deferred replies
  src/handlers/modal-submit.js
Due: prettier --write, eslint --fix, eslint

fix: vote points logic
  src/commands/utility/vote-points.js
Due: prettier --write, eslint --fix, eslint

fix: condition in vote points
  src/events/pollVotationResults.js
Due: prettier --write, eslint --fix, eslint

fix: move console error to handle function
  src/index.js
  src/utils/log-error.js
Due: prettier --write, eslint --fix, eslint

fix: remove old config
  src/config.js
Due: prettier --write, eslint --fix, eslint

feat: show dynamic cron times env in console message
  src/index.js
  src/utils/cron-to-text-parser.js
Due: prettier --write, eslint --fix, eslint

fix: remove unused logic
  src/commands/utility/vote-points.js
Due: prettier --write, eslint --fix, eslint

fix: add translations
  src/commands/utility/vote-points.js
  src/events/pollVotationResults.js
Due: prettier --write, eslint --fix, eslint

fix: add translations
  src/commands/utility/vote-points.js
  src/events/pollVotationResults.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

fix: changed translation property
  src/events/pollVotationResults.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

feat: add translations
  src/index.js
  src/languages/translations/en.json
  src/languages/translations/es.json
  src/utils/cron-to-text-parser.js
Due: prettier --write, eslint --fix, eslint

feat: adding new schedules message with IA
  .env.example
  package.json
  src/config.js
  src/cron/schedule-gemini.js
  src/index.js
  yarn.lock
Due: prettier --write, eslint --fix, eslint

feat: adding tranlations in the asnwers
  src/cron/schedule-gemini.js
Due: prettier --write, eslint --fix, eslint

fix: adding limit to the IA prompt
  src/cron/schedule-gemini.js
Due: prettier --write, eslint --fix, eslint

fix: saving changes
  .env.example
  src/config.js
  src/cron/schedule-gemini.js
Due: prettier --write, eslint --fix, eslint

fix: duplicate function
  src/index.js
Due: prettier --write, eslint --fix, eslint

feat: change the version of gemini
  .env.example
  src/config.js
  src/cron/schedule-gemini.js
Due: prettier --write, eslint --fix, eslint

refactor: change environments name and change generateIaContent to more general
  .env.example
  src/config.js
  src/cron/schedule-gemini.js
Due: prettier --write, eslint --fix, eslint

refactor: config.js file
  src/config.js
  src/cron/schedule-gemini.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: plus one when is in first month
  src/commands/utility/search-my-points.js
Due: prettier --write, eslint --fix, eslint

fix: name
  src/config.js
  src/cron/schedule-gemini.js
Due: prettier --write, eslint --fix, eslint

feat: add translation check to the PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: prettier --write

feat: adding new prompts
  .env.example
Due: none

feat: add gitHub actions to check Eslint and Prettier
  .github/workflows/ci.yml
Due: none

fix: version node
  .github/workflows/ci.yml
Due: none

fix: node version and install dependendicies
  .github/workflows/ci.yml
Due: none

fix: install dependencies
  .github/workflows/ci.yml
Due: none

fix: use yarn ci for install dependencies
  .github/workflows/ci.yml
  package.json
Due: none

fix: add condition for install dependencies
  .github/workflows/ci.yml
Due: none

fix: run lint
  .github/workflows/ci.yml
Due: none

fix: add run lint
  .github/workflows/ci.yml
Due: none

refactor: config file
  src/config.js
Due: prettier --write, eslint --fix, eslint

fix: adding new environment to enabled gemini
  .env.example
  src/config.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: falsy
  src/config.js
Due: prettier --write, eslint --fix, eslint

fix: yarn command
  .github/workflows/ci.yml
Due: none

fix: run yarn install if package.json or yarn.lock is changed
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier --write: (any of: */**/*.{js,ts}) or (any of: */**/*.{json,ts,md})
  eslint --fix: any of: */**/*.{js,ts}
  eslint: any of: */**/*.{js,ts}
