Repository TeamNovaSoft/discord-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,ts}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,ts,md}": ["prettier --write"]
}

feat: add config to define discor announcement channel
  .env.example
  src/config.js
Due: prettier --write, eslint --fix, eslint

feat: extract function
  src/cron/schedule-google-calendar.js
  src/utils/date-to-cron-expression.js
Due: prettier --write, eslint --fix, eslint

fix: translations and logic
  .env.example
  src/commands/utility/search-code-review.js
  src/cron/schedule-code-review.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

feat: add cronjob to schedule reminders for discord events
  .env.example
  src/config.js
  src/cron/schedule-event-reminder.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: saving changes
  firebase-config.js
  src/commands/utility/changeStatus.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

feat: update status commands and adding message option
  src/config.js
Due: prettier --write, eslint --fix, eslint

feat: catch error when try to send reminder
  src/cron/schedule-event-reminder.js
Due: prettier --write, eslint --fix, eslint

fix: console error
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: console error v2
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: delete console error in line 86 and 90
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: delete comment in search code review
  src/commands/utility/search-code-review.js
Due: prettier --write, eslint --fix, eslint

feat: add my-points Command
  src/commands/utility/my-points.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

fix: logic in for process
  src/commands/utility/my-points.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

Update changeStatus.js
  src/commands/utility/changeStatus.js
Due: prettier --write, eslint --fix, eslint

fix: message to md
  src/commands/utility/changeStatus.js
Due: prettier --write, eslint --fix, eslint

fix: fixed path not found
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: check boolean env
  src/config.js
Due: prettier --write, eslint --fix, eslint

docs: change to correct description
  src/utils/date-to-cron-expression.js
Due: prettier --write, eslint --fix, eslint

feat: add new command for listen the new events
  src/commands/utility/eventAnnouncer.js
  src/config.js
Due: prettier --write, eslint --fix, eslint

fix: read only bot messages
  src/commands/utility/my-points.js
Due: prettier --write, eslint --fix, eslint

fix: mypoints description
  src/languages/translations/es.json
Due: prettier --write

fix: delete console log
  src/commands/utility/my-points.js
Due: prettier --write, eslint --fix, eslint

fix: check eslint to all branches
  .github/workflows/ci.yml
Due: none

feat: this is a test 1
  testing.js
Due: none

fix: adding push condition
  .github/workflows/ci.yml
Due: none

feat: this is a test 2
  testing.js
Due: none

Added new status
  src/config.js
Due: prettier --write, eslint --fix, eslint

Update config.js
  src/config.js
Due: prettier --write, eslint --fix, eslint

feat: add event to announce new events
  src/commands/utility/eventAnnouncer.js
  src/deploy-events.js
  src/events/guildScheduledEventCreate.js
  src/events/pollVotationResults.js
  src/events/qaMention.js
  src/index.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

feat: test commit
  testing.js
Due: none

fix: changed ci/cd on conditional
  .github/workflows/ci.yml
Due: none

fix: using example
  .github/workflows/ci.yml
Due: none

fix: added 'on' keyword
  .github/workflows/ci.yml
Due: none

fix: update branch
  .github/workflows/ci.yml
Due: none

: feat: breaking eslint in purpose
  src/commands/utility/changeStatus.js
Due: prettier --write, eslint --fix, eslint

fix: branch with eslint
  src/commands/utility/changeStatus.js
Due: prettier --write, eslint --fix, eslint

refactor: ci file
  .github/workflows/ci.yml
Due: none

feat: breaking eslint in purpose
  calendar.js
Due: none

fix: branch with eslint
  calendar.js
Due: none

fix: testing eslint
  calendar.js
Due: none
