Repository TeamNovaSoft/discord-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,ts}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,ts,md}": ["prettier --write"]
}

fix: get yarn cache
  .github/workflows/ci.yml
Due: none

fix: translate comment
  .github/workflows/ci.yml
Due: none

fix: remove conditional
  .github/workflows/ci.yml
Due: none

fix: command ci
  .github/workflows/ci.yml
Due: none

fix: dependency installation logic
  .github/workflows/ci.yml
Due: none

feat: /send-message command to include ephemeral confirmation
  src/handlers/modal-submit.js
Due: prettier --write, eslint --fix, eslint

feat: add translations for PR review and message sending modals
  src/handlers/modal-submit.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

Revert "feat: /send-message command to include ephemeral confirmation"
  src/handlers/modal-submit.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

fix: import translateLanguage
  src/handlers/modal-submit.js
Due: prettier --write, eslint --fix, eslint

fix: restored all changes
  src/handlers/modal-submit.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

feat: adding markdown file function
  src/cron/schedule-messages.js
  src/cron/utils/markdown-files/example1.md
  src/cron/utils/read-markdown-messages.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: integrate functions to handle cron messages
  src/cron/utils/read-markdown-messages.js
Due: prettier --write, eslint --fix, eslint

fix: circular dependency
  src/cron/schedule-messages.js
  src/cron/utils/markdown-files/example1.md
  src/cron/utils/read-markdown-messages.js
Due: prettier --write, eslint --fix, eslint

fix: update example
  src/cron/utils/markdown-files/example1.md
Due: prettier --write

fix: validate channel
  src/cron/schedule-messages.js
  src/cron/utils/markdown-files/example1.md
Due: prettier --write, eslint --fix, eslint

fix: update messages
  src/cron/utils/markdown-files/good-afternoon.md
  src/cron/utils/markdown-files/good-evening.md
  src/cron/utils/markdown-files/good-morning.md
Due: prettier --write

fix: branch
  src/cron/utils/markdown-files/good-afternoon.md
Due: prettier --write

refactor: update jsdoc
  src/cron/schedule-messages.js
Due: prettier --write, eslint --fix, eslint

refactor: deleted unnecesary handler
  src/cron/utils/read-markdown-messages.js
Due: prettier --write, eslint --fix, eslint

refactor: update branch
  src/cron/schedule-messages.js
  src/cron/utils/read-markdown-messages.js
Due: prettier --write, eslint --fix, eslint

refactor: change folder location and new config variable
  markdown-files/good-afternoon.md
  markdown-files/good-evening.md
  markdown-files/good-morning.md
  src/config.js
  src/cron/utils/markdown-files/example1.md
  src/cron/utils/read-markdown-messages.js
Due: prettier --write, eslint --fix, eslint

fix: change variable name
  src/config.js
  src/cron/utils/read-markdown-messages.js
Due: prettier --write, eslint --fix, eslint

feat: migrate project to Node.js 23.6.0
  .nvmrc
  yarn.lock
Due: none

fix: update readme
  readme.md
Due: none

refactor: udate documentation and config file
  .env.example
  readme.md
  src/config.js
Due: prettier --write, eslint --fix, eslint

fix: update ci and readme
  .github/workflows/ci.yml
  readme.md
Due: none

fix: update documentation
  readme.md
Due: none

fix: add engines in package
  package.json
Due: none

refactor: adding global path
  src/config.js
  src/cron/utils/read-markdown-messages.js
Due: prettier --write, eslint --fix, eslint

Update src/cron/schedule-messages.js
  src/cron/schedule-messages.js
Due: prettier --write, eslint --fix, eslint

feat: add reminder for pr request review Status in Bot Commands
  src/commands/utility/search-code-review.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint

feat: add cronjob for search-code-review
  src/commands/utility/search-code-review.js
  src/config.js
  src/cron/schedule-code-review.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: cronjob for pending threads in discord server
  src/cron/schedule-code-review.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: variables
  src/config.js
  src/cron/schedule-code-review.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: imports and logic
  src/commands/utility/search-code-review.js
  src/config.js
  src/cron/schedule-code-review.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

fix: delete documentation in sheduleReviewCheck
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: centralize the key used for mapping the status text
  src/config.js
  src/cron/schedule-code-review.js
Due: prettier --write, eslint --fix, eslint

fix: rename in config cron schedule review
  src/config.js
  src/cron/schedule-code-review.js
  src/index.js
Due: prettier --write, eslint --fix, eslint

feat: add translations
  src/index.js
  src/languages/translations/en.json
  src/languages/translations/es.json
Due: prettier --write, eslint --fix, eslint
